body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color:white;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.071);
}

.header {
    display: flex;
    align-items: flex-start;
}

.upload-label {
    display: flex;
    align-items: center;
}

.upload-label img {
    padding: 20px 20px 15px;
    width: 140px;
    height: 110px;
    margin-right: 10px;
    cursor: pointer;
}
.upload-section {
    margin: 15px 10px;
    font-size: 18px;
    width: 55%;
}
.us1 {
    display: inline-block;
    color: #676767;
    font-size: 13px;
    padding-top: 15px;
}
.editable {
    margin-bottom:5px;
    padding:5px;
    cursor: text;
    min-height: 20px;
    max-width: 100%;
    background-color: transparent;
    border: 1px solid transparent;
    transition: border-color 0.2s;
    
}
.editable:hover{
    border-color: rgb(73, 179, 255);
    border-radius: 5px; 
}
.editable:focus{
    outline: none;
}
.editable:empty:before {
    content: attr(data-placeholder);
    color: #999;
}

.details .left, .details .right {
    width: 100%;

}
.bill {
    padding-left: 6px;
}
.invoice-form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin:2px;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.Date-label {
    width: 250px;
    color: #242222;
    font-weight: 500;
    margin-right: 10px;
    padding: 5px;
    cursor: text;
    min-height: 20px;
    border: 1px solid transparent;
    transition: border-color 0.2s;
}

.Date-label:hover {
    border-color: rgb(73, 179, 255);
    border-radius: 5px;
}

input[type="text"],
input[type="date"] {
    padding: 10px;
    border: 1px solid transparent; 
    outline: none;
    background: none;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="text"]:hover,
input[type="date"]:hover {
    border: 1px solid rgb(73, 179, 255);;
    border-radius: 5px;
}

input[type="text"]::placeholder {
    color: #999;
}
.table-section {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    padding: 15px;
    text-align: left;
}

table th {
    background-color: black;
    color: white;
}

table th:hover {
    border-color: rgb(73, 179, 255);
}

table td {
    position: relative;
}

table td:empty:before {
    content: attr(data-placeholder);
    color: #999;
}
button {
    background-color:white;
    color:rgb(73, 179, 255);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 20px;
}

button:hover {
    background-color:transparent;
}

.totals {
    text-align: right;
    padding: 10px;
    border:1px solid transparent;
    box-sizing: border-box;
    width: 100%;
}
.totals div{
    margin-bottom: 40px;
    padding: 5px;
}

.totals span{
    margin-left: 200px;
}
.custom{
    border:none;
    outline: none;
    padding: 10px;
    width: 100%;
    margin:3px;
    box-sizing: border-box;
    font-size: 17px;
    

}
.custom:hover{
    border: 1px solid rgb(73, 179, 255);

}

@media (max-width: 600px) {
    .details {
        flex-direction: column;
    }

    .details .right {
        width: 100%;
        margin-top: 20px;
    }

    .invoice-inputs {
        align-items: flex-start;
    }
}
